.logements {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.logements_cover {
  width: 175px;
  height: 180px;
}

.logements_figure {
  max-width: 100%;
  width: 180px;

  border: 1px solid black;
}
