.Collapse {
  &__title {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
  }
  &--open {
    margin-bottom: 10px;
  }
  &__arrow {
    color: black;
  }
  &__content {
    background-color: #fff;
    color: black;
  }
  &__bienvaillance {
    background-color: hsl(0deg 0% 90.2%);
  }

  border-radius: 3px;
}

.promesse {
  display: flex;
  flex-direction: column;

  color: black;
}

.About {
  @media screen and (min-width: 1024px) {
    &__Collapses {
      margin: 0px 50px;
    }
  }
}
