.Collapse {
  &__title {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
  }
  &--open {
    margin-bottom: 10px;
  }
  &__arrow {
    color: black;
  }

  border-radius: 3px;
}
.bienvaillance {
  background-color: hsl(0deg 0% 90.2%);
}
.background {
  mix-blend-mode: darken;

  width: 335px;
}
