.Collapse {
  &__title {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
  }
  &--open {
    margin-bottom: 10px;
  }
  &__arrow {
    color: black;
  }
  &__content {
    background-color: #fff;
    color: black;
  }
  &__bienvaillance {
    background-color: hsl(0deg 0% 90.2%);
  }

  border-radius: 3px;
}

.background {
  mix-blend-mode: darken;
  border-radius: 10px;
  width: 100%;
  background-size: cover;
  height: 111px;
  margin: 20px 0px;
}
.promesse {
  display: flex;
  flex-direction: column;

  color: black;
}
@media screen and (min-width: 1024px) {
  .Collapse {
    &__group {
      margin: 0px 50px;
    }
  }
  .background {
    height: 223px;
  }
}
