.Carrousel {
  position: relative;
  width: 100%;
  font-weight: 500;
  &__slide {
    width: 0%;
    transition: width 1s ease;
    object-fit: cover;
    height: 255px;
    @media screen and (min-width: 1024px) {
      height: 415px;
    }

    &.is--Active {
      width: 100%;
      border-radius: 10px;
    }
  }
  &__slides {
    display: flex;
  }
  &__arrow_backward,
  &__arrow_forward {
    position: absolute;
    top: 45%;
    @media screen and (min-width: 1024px) {
      top: 40%;
    }
  }
  &__arrow_forward {
    right: 0%;
  }

  &__arrow_backward_icon,
  &__arrow_forward_icon {
    font-size: 3em;
    color: #fff;
    @media screen and (min-width: 1024px) {
      font-size: 9em;
    }
  }
  .is--Hidden {
    display: none;
  }
  &__counter {
    @media screen and (min-width: 1024px) {
      position: absolute;
      bottom: 10px;
      right: 50%;
      color: #fff;
      font-size: 18px;
    }
  }
}
