.Collapse {
  border-radius: 3px;
  background-color: #f7f7f7;

  &__title {
    background-color: hsl(0deg 100% 68.82%);
    color: #ffff;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    padding: 10px;
  }
  &__wrapper {
    overflow: hidden;

    transition: max-height 0.3s linear;
  }
  &--open &__wrapper {
    max-height: var(--height);
    overflow: hidden;
  }
  &--closed &__wrapper {
    max-height: 0px;
  }
  &__content {
    color: hsl(0deg 100% 68.82%);
    overflow: hidden;
    padding: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1024px) {
      margin: 0px 70px;
      gap: 30px;
    }
  }

  &__arrow {
    width: 20px;
    transition: transform 0.5s;
  }
  &--open &__arrow {
    transform: rotate(-180deg);
  }
  &__equipement_liste {
    list-style: none;
  }
}
