.Collapse {
  border-radius: 3px;
  &__title {
    background-color: hsl(0deg 100% 68.82%);
    color: #ffff;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    padding: 10px;
  }
  &__content {
    background-color: #f7f7f7;
    margin: 20px 10px;
    color: hsl(0deg 100% 68.82%);
    overflow: hidden;
  }
  &--closed &__content {
    height: 0;
    margin: 20px;
    @media screen and (min-width: 1024px) {
      margin: 30px;
    }
  }
  &--open {
    margin-bottom: 10px;
    background-color: #f7f7f7;
  }
  &__About_Collapses {
    @media screen and (min-width: 1024px) {
      margin: 0px 70px;
    }
  }
  &__bienvaillance {
    padding: 0px 0px 20px;
  }
  &__arrow {
    width: 20px;
    transition: transform 0.5s;
    &--rotate {
      transform: rotate(180deg);
    }
  }
}
