.Footer {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 12px;
  padding: 65px;
  &__logo {
    width: 130px;
    color: #fff;
    filter: brightness(0) invert(1);
  }
  &__rights {
    margin: 13px 13px 0px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .Footer {
    font-weight: 500;
    font-size: 24px;
    padding: 25px;
    &__rights {
      margin: 0px;
      text-align: center;
    }
    &__logo {
      margin: 30px;
    }
  }
}
