.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    @media screen and (min-width: 1024px) {
      gap: 50px;
    }
  }
  &__link {
    color: #ff6060;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      font-size: 24px;
      text-transform: lowercase;
    }
  }
  &__link.active,
  &__link:hover {
    text-decoration: underline;
  }
  &__logo {
    height: 47px;
    width: 145px;
    position: relative;
    @media screen and (min-width: 1024px) {
      height: 68px;
      width: 210px;
    }
  }
}
