.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &__link {
    color: #ff6060;
    text-decoration: none;
  }
  &__link.active,
  &__link:hover {
    background-color: #1d4ed8;
  }
  &__logo {
    width: 145px;
    position: relative;
  }
}
