.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &__link {
    color: #ff6060;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
  }
  &__link.active,
  &__link:hover {
    text-decoration: underline;
  }
  &__logo {
    width: 115px;
    height: 46px;
    position: relative;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .Navbar {
    &__link {
      font-size: 24px;
      text-transform: lowercase;
    }
  }
}
