* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /*outline: 1px solid red;
  background-color: #f003;*/
  font-family: "Montserrat-Medium", Helvetica;
}
html {
  margin: 20px;
}
@media screen and (min-width: 1024px) {
  html {
    margin: 40px 70px;
  }
}
